$base-font: 16px;
$font-group: 'Didact Gothic', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$forground-color: cornflowerblue;
$background-color: white;

:root {
    #{--base-font-size}: $base-font;
    #{--bg-color}: $background-color;
    #{--fg-color}: $forground-color;
    #{--font-family}: $font-group;
}

body {
    font-family: var(--font-family);
}


hr.solid {
    border-top: 3px solid #bbb;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
nav.navbar{
    background-color: #FFC93C;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    align-items: baseline;
    



    ul {
        display: flex;
        list-style-type: none;
        align-items: baseline;
        padding-inline-start: 0px;

        li {
            position: relative;

            & .dropdown {
                a {
                    color: green;
                }
                
               
            }

            ul {
                visibility: hidden;
                opacity: 0;
                min-width: 5rem;
                position: absolute;
                left: 0;
                display: none;
                padding-inline-start: 0px;
            }

            
            & .title {
                font-weight: normal;
                font-weight: normal;
                font-size: 2em;
                letter-spacing: 0.15em;
                margin-bottom: 0;
                padding: 0 1em;
            }

           
    


            a {

                display: block;
                color: black;
                padding: 0.25em 1em;
                text-decoration: none;
                transition: 300ms;


            }

            a:hover {
                background-color: yellow;
                visibility: visible;
                opacity: 1; 
                display: block;
            }

            a:active {
                background-color: orange;
            }

        }
        li:hover > ul, a:hover {
            background-color: orange;
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
}




.buttons-section {
    padding: 20px 0px ;
}


button {
    padding: 0.5em  0.75em;
    background-color: var(--bg-color);
    border: 1px solid;
    color: var(--fg-color);
    border-radius: 0.5em;
    font-size: var(--base-font-size);
    transition: 200ms;
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

button.btn-alert {
    --fg-color: red;
}

button.btn-dark {
    --fg-color: rgb(51, 48, 48);
}

pre {
    font-size: 10px;
    background-color: beige;
    padding: 10px 10px 0px 0px;

}

.to-the-end{
    height: 1600px;
}

.selectors > label {
    margin: 1.5em 1em;
    display: block;
}

// selector styling
.checkbox > span {
    padding: .5em 0 .5em 5.5em;
    // background-color: blueviolet;
    align-items: center;
    position: relative;
}

// this is the box
.checkbox > input[type=checkbox] + span::before {
    content: '';
    display: inline-block;
    border: 2px solid blue;
    border-radius: 0;
    width: 3.5em;
    height: 1.5em;
    margin: 0 0.5em 0 0;
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    background-color: orange;
    transition: 400ms;
}

// this is the circle checker
.checkbox > input[type=checkbox] + span::after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background-color: blue;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    transition: 400ms;
}

.checkbox > input[type=checkbox]:checked + span::before {
    background-color: yellow;
}


// this is the circle checker after selected
.checkbox > input[type=checkbox]:checked + span::after {
    left: 2.5em;
    background-color: green;
    border-color: green;
}

.checkbox > input {
    // display: none;
}

