$base-font: 16px;
$font-group: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$forground-color: cornflowerblue;
$background-color: white;

:root {
    #{--base-font-size}: $base-font;
    #{--bg-color}: $background-color;
    #{--fg-color}: $forground-color;
    #{--font-family}: $font-group;
}

body {
    font-family: var(--font-family);
}

nav.navbar {
    background-color: blue;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    align-items: baseline;
    
    ul {
        display: flex;
        list-style-type: none;
        align-items: baseline;

        li {
            position: relative;

            & .dropdown {
                a {
                    color: green;
                }
                
               
            }

            ul {
                visibility: hidden;
                opacity: 0;
                min-width: 5rem;
                position: absolute;
                left: 0;
                display: none;
                padding-inline-start: 0px;
            }

            
            & .title {
                font-weight: normal;
                font-weight: normal;
                font-size: 2em;
                letter-spacing: 0.15em;
                margin-bottom: 0;
                padding: 0 1em;
            }

           
    


            a {

                display: block;
                color: red;
                padding: 0.25em 1em;
                text-decoration: none;
                transition: 300ms;


            }

            a:hover {
                background-color: yellow;
                visibility: visible;
                opacity: 1; 
                display: block;
            }

            a:active {
                background-color: orange;
            }

        }
        li:hover > ul, a:hover {
            background-color: orange;
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
}



.buttons-section {
    padding: 20px 0px ;
}


button {
    padding: 0.5em  0.75em;
    background-color: var(--bg-color);
    border: 1px solid;
    color: var(--fg-color);
    border-radius: 0.5em;
    font-size: var(--base-font-size);
    transition: 200ms;
}

button:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

button.btn-alert {
    --fg-color: red;
}

button.btn-dark {
    --fg-color: rgb(51, 48, 48);
}

pre {
    font-size: 10px;
    background-color: beige;
    padding: 10px 10px 0px 0px;

}

.to-the-end{
    height: 1600px;
}